.col-sm-6.col-sm-push-3
	.panel.panel-success
		.panel-heading.text-center= t('About')
		%table.table.table-striped
			%tbody
				%tr
					%th 项目名称
					%td ACM在线评测系统
				%tr
					%th 项目等级
					%td 校级科研立项
				%tr
					%th 指导老师
					%td 龚征
				%tr
					%th 第一作者
					%td 谢非
				%tr
					%th 其他作者
					%td 麦灿标　文乐炫　张啟迪　张秋媛

