.col-sm-6.col-sm-push-3
	.panel.panel-success
		.panel-heading.text-center= t('About')
		%table.table.table-striped
			%tbody
				%tr
					%th Teacher
					%td Gong Zheng
				%tr
					%th Designer
					%td Xie Fei
				%tr
					%th Judge Core
					%td Mai Canbiao
				%tr
					%th Pages
					%td Xie Fei | Zhang QiuYuan | Wen Lexuan | Zhang Qidi
