<div class="col-sm-6 col-sm-push-3">
	<div class="panel panel-success">
		<div class="panel-heading text-center">About Us</div>
		<table class="table table-striped">
			<tbody>
			<tr>
				<th>Teacher</th>
				<td>Gong Zheng</td>
			</tr>
			<tr>
				<th>Designer</th>
				<td>Xie Fei</td>
			</tr>
			<tr>
				<th>Judge Core</th>
				<td>Mai Canbiao</td>
			</tr>
			<tr>
				<th>Pages</th>
				<td>Xie Fei | Zhang QiuYuan | Wen Lexuan | Zhang Qidi</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>