%h3 System
%h1
	%i.glyphicon.glyphicon-user
.col-sm-5.col-sm-offset-4
	%table.table.table-bordered
		%thead
			%tr
				%th User
				%td= @user_count
			%tr
				%th Problems
				%td 100
			%tr
				%th Status
				%th 100