<table class="table table-hover datatable" data-source="<%= statuses_path(format: :json) %>">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>User</th>
      <th width="30%">Title</th>
      <th>Result</th>
      <th>Language</th>
      <th>The Time</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>