%table.table.table-hover.datatable{"data-source" => "#{statuses_path(format: :json)}"}
  %thead
    %tr
      %th #
      %th User
      %th{:width => "30%"} Title
      %th Result
      %th Time
      %th Space
      %th Language
      %th The Time
  %tbody
