%table.table.table-hover.datatable{"data-source" => "#{contests_path(format: :json)}"}
	%thead
		%tr
			%td #
			%td title
			%td start_time
			%td end_time
			%td address
			%td status
			%td remark
	%tbody