%table.table.table-hover.datatable{'data-source' => status_contest_path(format: :json)}
	%thead
		%tr
			%th #
			%th Team  Name
			%th Problem ID
			%th Result
			%th Time
			%th Space
			%th Length
			%th Submit Time
	%tbody