%table.table.table-hover.table-bordered.datatable{'data-source' => status_contest_path(format: :json)}
	%thead
		%tr
			%th RunId
			%th Nick Name
			%th Problem
			%th Result
			%th Time
			%th Memory
			%th Language
			%th Code Len
			%th Submit Time
	%tbody
= searchable(%w[Problem])
:javascript
$(function() {
	var table = $(".datatable").DataTable({
		serverSide: true,
		ordering: false,
		processing: true,
		ajax: $('.datatable').data('source'),
		searchDelay: 1000,
		retrieve: true,
		destroy: true,
		paging: true,
		pagingType: "simple_numbers",
		stateSave: true
			//ajax: "/problem"
	});
});