<%= link_to "修改管理员", new_admin_manager_path, class: "btn btn-xs btn-info pull-right" %>
<h4>管理员列表</h4>
<table class="table table-stripped table-bordered table-hover datatable" data-source="<%= admin_managers_path(format: :json) %>">
<thead>
  <tr>
                <th width="25%">帐号</th> 
                <th width="25%">角色</th> 
                <th width="25%">备注</th> 
                <th width="20%">操作</th> 
                    </tr>
                </thead>
                <tbody>
                </tbody>
</table>