- if current_locale != 'en'
	- begin
		= markdown(render file: Problem.first.zh_description.file.file)
	- rescue
		= markdown(render file: Problem.first.description.file.file)
- else
	= markdown(render file: Problem.first.description.file.file)