%table.table.table-stripped.table-hover.datatable{"data-source" => "#{problems_path(format: :json)}"}
  %thead
    %tr
      %th{:width => "10%"}
      %th #
      %th{:width => "50%"} Title
      %th Difficulty
      %th Source
  %tbody
