<table class="table table-hover datatable" data-source="<%= problems_path(format: :json) %>"> 
	<thead> 
	 <tr> 
	   <th style="width: 16px"></th>
	   <th>#</th> 
	   <th style="width: 50%">Title</th>
	   <th>Difficulty</th> 
	   <th>Source</th>
	 </tr> 
	</thead> 
	<tbody>
  	</tbody> 
</table>