<table class="table tabe-stripped table-bordered table-hover datatable" data-source="<%= problems_path(format: :json) %>"> 
	<thead> 
	 <tr> 
	   <th width="6%">题号</th> 
	   <th width="26%">标题</th> 
	   <th width="8%">AC数</th> 
	   <th width="8%">提交数</th> 
	 </tr> 
	</thead> 
	<tbody>
  </tbody> 
</table>