<div class="col-sm-6">
	<%= render file: "/public/uploads/problem/description/#{@problem.problem_id}"%>
</div>
<div class="col-sm-6">
	<% if current_user %>
		<%= render template: "codes/new" %>
	<% else %>
		<%= render template: "users/login" %>
	<% end %>
</div>