= link_to "添加题目", new_admin_problem_path, class: "btn btn-xs btn-info pull-right"
%h4 题目列表
%table.table.table-bordered.table-hover.datatable{"data-source" => "#{admin_problems_path(format: :json)}"}
  %thead
    %tr
      %th{:width => "10%"} #
      %th{:width => "30%"} 标题
      %th{:width => "10%"} 题目难度
      %th{:width => "10%"} 通过数
      %th{:width => "10%"} 提交数
      %th{:width => "%20"} 操作
  %tbody
