= link_to "New", new_admin_problem_path, class: "btn btn-xs btn-info pull-right"
%h4 题目列表
%table.table.table-bordered.table-hover.datatable{"data-source" => "#{admin_problems_path(format: :json)}"}
  %thead
    %tr
      %th{:width => "10%"} 题号
      %th{:width => "30%"} 标题
      %th{:width => "10%"} grade
      %th{:width => "10%"} AC
      %th{:width => "10%"} Submit
      %th{:width => "20%"} 操作
  %tbody
