<h4>题目列表</h4>
<table class="table tabe-stripped table-bordered table-hover datatable" data-source="<%= admin_problems_path(format: :json) %>">
  <thead>
    <tr>
      <th width="10%">题号</th>
      <th width="30%">标题</th>
      <th width="10%">grade</th>
      <th width="10%">AC</th>
      <th width="10%">Submit</th>
      <th width="20%">操作</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>