<h4>题目</h4>
<%= render file: "/public/uploads/problem/description/#{@problem.problem_id}"%>
sadasdsadsd
<%= render file: "codes/new" %>
<%= link_to 'Edit', edit_admin_problem_path(@problem) %> |
<%= link_to 'Back', admin_problems_path %>
