%nav.navbar.navbar-inverse
	.container
		.navbar-brand
			= link_to "SCNUOJ", admin_home_path, class: "navbar-link"
		.navbar-text.navbar-right
			%span = current_user.username
			%span 
				= link_to "exit", admin_logout_path, class: "navbar-link navbar-right"