<header class="navbar navbar-default"> 
<div class="container-fluid"> 
<div class="navbar-header"> 
<a class="navbar-brand" href="#"><b>SCNUOJ后台管理系统</b></a> 
</div> 
<ul class="nav navbar-nav"> 
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-plus"></i>&nbsp;新增<span class="caret"></span></a> 
<ul class="dropdown-menu"> 
<li><%= link_to "题目", new_admin_problem_path %></li>
<li><%= link_to "比赛", new_admin_contest_path %></li> 
<li><%= link_to "用户", new_admin_user_path %></li> 
</ul>
</li> 
</ul> 
<ul class="nav navbar-nav navbar-right"> 
<li><a href="#" target="_blank">网站主页</a></li> 
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">张三<span class="caret"></span> </a> 
<ul class="dropdown-menu"> 
<li><a href="#">退出系统</a></li> 
</ul>
</li> 
</ul> 
</div> 
</header>