<h4>登录</h4>
<%= simple_form_for(login_path, html:{class : "form-horizontal"}, wrapper: :horizontal-form) do |f|  %>
	<%= f.input :student_num, label: "学号" %>
	<%= f.input :password, label: "密码" %>
	<%= f.button :submit, value: "登录", class: "col-sm-4 col-sm-offset-4 btn-primary" %>
<% end %>