<table class="table table-hover datatable" data-source="<%= ranks_path(format: :json) %>">
  <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Class</th>
      <th>Dormitory</th>
      <th>AC</th>
      <th>Submit</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>