<h4>个人排名</h4>
<table class="table table-stripped table-bordered table-hover datatable" data-source="<%= ranks_path(format: :json) %>">
  <thead>
    <tr>
      <th>排名</th>
      <th>用户昵称</th>
      <th>班级</th>
      <th>宿舍</th>
      <th>AC数</th>
      <th>提交数</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>