= table(ranks_path(format: :json), %w[Rank User Class Dormitory Score])
/ %table.table.table-bordered.table-hover.datatable{"data-source" => "#{ranks_path(format: :json)}"}
/   %thead
/     %tr
/       %th{:width => "10%"} #
/       %th{:width => "30%"}= t('Rank')
/       %th{:width => "10%"}= t('User')
/       %th{:width => "10%"}= t('Class')
/       %th{:width => "10%"}= t('Dormitory')
/       %th{:width => "10%"}= t('Score')
/   %tbody
= searchable(%w[User Class Dormitory])