.col-sm-offset-3
	= form_for([:admin, @user], class: "form-horiziontal") do |f|
		.form-group
			%label.col-sm-2.control-label student_id
			.col-sm-10
				= f.text_field :student_id, class: "form-control"
		.form-group
			= f.text_field :username
		.form-group
			=f.password_field :password
		.form-group
			=f.text_field :classgrade
		.form-group
			=f.text_field :dormitory
		.form-group
			=f.phone_field :phone
		.form-group
			=f.text_area :signature
		.form-group
			=f.submit
