%h4 添加用户
= form_tag(batch_new_admin_users_path, class: "form-horizontal") do
	.form-group
		= label_tag :file, "Please", class: "control-label col-sm-4"
		.col-sm-4
			= file_field_tag :file, class: "filestyle"
	.form-group
		.col-sm-4.col-sm-offset-4
			= submit_tag "提交", class: "form-control btn btn-primary"
