=link_to "New", new_admin_user_path, class: "btn  btn-xs btn-primary pull-right"
=link_to "Batch New", admin_batch_new_user_path, class: "btn  btn-xs btn-primary pull-right"
%h4 用户列表
%table.table.table-stripped.table-bordered.table-hover.datatable{"data-source" => "#{admin_users_path(format: :json)}"}
  %thead
    %tr
      %th{:width => "5%"} 学号
      %th{:width => "15%"} 用户昵称
      %th{:width => "20%"} 班级
      %th{:width => "15%"} 宿舍
      %th{:width => "10%"} 电话
      %th{:width => "20%"} 个性签名
      %th{:width => "15%"} 操作
  %tbody
