<footer class="text-center text-muted">
	<p>
		<%= link_to "home", home_path, class:"text-muted" %>
		&nbsp;|&nbsp;
		<%= link_to "about us", aboutus_path, class:"text-muted" %>
		&nbsp;|&nbsp;
		<%= link_to "member", home_path, class: "text-muted" %>
		&nbsp;|&nbsp;
	</p>
<p>
	Copyright &copy; 2016 South China Normal University. All Rights Reserved
</p>
<p>华南师范大学计算机学院 版权所有</p>
</footer>  