<footer class="text-center text-muted">
	<p>
		<a href="#page=home" class="text-muted">网站首页</a>&nbsp;|&nbsp;
  	<a href="#page=about" class="text-muted">关于我们</a>&nbsp;|&nbsp;
  	<a href="#page=member" class="text-muted">人员招募</a>
	</p>
<p>
	Copyright &copy; 2016 South China Normal University. All Rights Reserved
</p>
<p>华南师范大学计算机学院 版权所有</p>
</footer>  