%footer.text-center.text-muted
	%p
		= link_to "home", root_path, class:"text-muted"
		 | 
		= link_to "about us", aboutus_path, class:"text-muted"
		 | 
		= link_to "member", root_path, class: "text-muted"
		 | 
	%p Copyright © 2016 South China Normal University. All Rights Reserved
	%p 华南师范大学计算机学院 版权所有
